<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin Navbar</title>
<style>
.navbar-light .navbar-nav .nav-link {
    color: white;
}
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary static-top">
  <div class="container-fluid">
    
    <a class="navbar-brand" th:href="@{/employees}" >Employee Self Service Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
     <!-- me-auto mb-2 mb-lg-0 -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/employees/Setleave}">Add Leave Details</a>
        </li>
     
          <li class="nav-item">
          <a class="nav-link" th:href="@{/leaveDetails/view}">View Leave Details</a>
        </li>
        
          <li class="nav-item">
          <a class="nav-link" th:href="@{/employees}">Manage Employees</a>
        </li>
        
         <li class="nav-item">
          <a class="nav-link" th:href="@{/adminlogout}">Logout</a>
        </li>    
      </ul>
    </div>
<br>
  </div>
</nav>

</body>
</html>